[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
certifi = "==2018.4.16"
chardet = "==3.0.4"
idna = "==2.7"
requests = "==2.19.1"
"urllib3" = "==1.23"

[dev-packages]

[requires]
python_version = "3.6"
